*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -- hedader section start here-- */

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/elegant-woman.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    font-size: 100px;
    font-family: sans-serif;
    font-weight: 100;
    color: white;
    letter-spacing: 2px;
}


/* ----------- for mobile----------- */

@media screen and (max-width: 700px) {
    
    header h1{
    
    font-size: 50px;
    color: red;
      }
    }
    
/* --- header section end-- */


/* --- img section start here---- */

 .nav{
     
    padding: 80px 120px;

    background-color: #ebe2de;
 }

 .nav_img{
    
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
    

 }

 .nav_img .img{
     flex-basis: 15%;
     margin-bottom: 80px;
     
    
 }

 .img img{
     width: 100%;
     
 }
 
 .btn_style{
    display: inline-block;
     padding: 8px 16px;
     background-color: black;
     color: white;
border-radius: 5px;
     
     letter-spacing: 2px;
     text-transform: uppercase;
     font-weight: 600;
    
 }
 .button{
     text-align: center;
 }

 /* -----  for mobile------ */




 @media screen and (max-width: 700px) {

.nav{
    padding-left: 120px;
    padding-right: 120px;
}


        .nav_img{
            flex-direction: column;
    

    }

}
    
 


/* --- img section end here---- */

/* bussiness rule start here */

  .bussiness_rule{
      
      padding: 60px 90px;
  }

  .rule_container{
      display: flex;
    flex-wrap: wrap;
 justify-content: center;
      
  }

  .rule{
      flex: 0 1 45%;
      display: flex;
      padding: 15px 0;
     
  }
  .first_rule,.last_rule{
      background-color: #ebe2de;
  } 

  .number{
      flex-basis: 20%;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      padding: 15px 13px 5px 10px;
     
  }

  .rule .content{
      flex-basis: 80%;
      padding: 5px 30px;
      padding-left: 0;
  }

  .content p{
      text-align: justify;
      font-size:16px;
      line-height: 24px;
      font-weight: 500;
   
  }

/* --- for mobie--- */

  @media screen and (max-width: 700px) {
.bussiness_rule{
    padding-left: 10%;
    padding-right: 10%;
}


.rule_container{
    flex-direction: column;
}
  }

/* bussiness rule start here */

/* -- grid section start -- */
    

.grid_section{
    padding: 80px 120px;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
     grid-column-gap:100px;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

.grid_img{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.grid_img img{
    width: 100%;
}

.social_media{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1/2;
    text-align: center;
}

.social_media ul li{
    list-style: none;
    display: inline-block;

    font-size: 25px;
    margin:0 5px;
}
.social_media h4{
    padding: 15px 6px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 200;
}

.grid_discription{
    grid-column: 2/3;  
    grid-row: 3/4;
    padding:2px 5px; 
}
.text{
    text-align: justify;
    font-size: 14px;
    line-height: 25px;  
    font-weight: 100;
    text-overflow: hidden;
    letter-spacing: 2px;

 
}

.btn{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 5px;
}
.btn a{
    text-decoration: none;
}
 .hr_line{
    border-top: none;
    border:1px solid grey;
    width: 20%;
    margin: 0 auto;
}


/* ---- for mobile--- */
@media screen and (max-width: 700px) {
    
.grid_section{
    padding-right:10% ;
    padding-left: 10%;
}


.grid_container{
    column-gap: 0;
}



    .grid_img{
        grid-column: 1/-1;
        grid-row: 1/2;
        
    }
    

    .social_media{
        grid-column: 1/-1;
        grid-row: 2/3;
    
    }
    
    .grid_discription{

        grid-column: 1/-1;
        margin-left: 200px;
    
    }
    }

/* /* -- grid section end --  */


/* ---delivery section start  here-- */

  .delivery_section{
      padding: 55px 120px;
  }
  
  .delivery_container{
      display: grid;
      grid-template-columns:repeat(3,1fr);
      grid-template-rows: auto 1fr auto;
      grid-column-gap: 10px;
  }

  .delivery_header{
      grid-column:1/-1;
  
  }

  .delivery_header h1{
      margin-bottom: 15px;
      text-align: center;
  }
  .delivery_header h4{
      margin-bottom:36px;
      text-align: center;
  }
  .delivery_img1{
      grid-column: 1/-3;
  }

  .delivery_img1 img{
    width: 100%;
height: 100%;
}
  
  .delivery_img2{
    grid-column: 2/-2;
}

.delivery_img2 img{
    width: 100%;
    height: 100%;
}


.delivery_img3{
    grid-column: 3/-1;
}


.delivery_img3 img{
    width: 100%;
}
.delivery_text{
    grid-column: 1/-1;
}


.delivery_text p{
    
    margin-top: 50px;
    line-height:24px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;

}


/* ---delivery section end  here-- */

/* ---  footer section start  here--- */

footer{
    background-color: blanchedalmond;
    padding: 80px 60px 100px 60px;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    
}
.footer_left_item{
    flex:0 1 30%;
    
    font-family: sans-serif;
}
.footer_left_item h1{
    
    font-weight: 200;
    color: #222;
}
.footer_left_item h4{
    margin-top: 40px;
    font-size: 16px;
    line-height: 25px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 40px;
}
.footer_left_item p{
    font-size: 15px;
    line-height: 26px;
    font-weight: 200;
    margin-bottom: 28px;
}

.footer_left_item ul li{
    display: inline-block;
    padding-right: 20px;
    font-size: 25px;

}
.footer_middle_item{
    flex: 0 1 20%;
    
    font-family: sans-serif;
}



.fmh{
    padding-bottom: 25px;
}  

.fmh h1{
    font-size: 18px;
    font-family: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.location_header , .service_header{
    margin-top: 25px;
}

 .none_list{
       list-style: none;
 }
 .service_body ul li::before{
   font-family: "Font Awesome";
    content:"\f00c" ;
    display: inline-block;
    padding-right: 10px;
     
 }


.footer_right_item{
    flex: 0 1 35%;
    
}

.footer_right_item input{
    width: 100%;
    height: 45px;
    padding-left: 5px;
    border: none;
    outline: none;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
}
 textarea, .fbtn{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}


/* ---  footer section end  here--- */
